<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!---->
    <add key="parentTable" value="Character"/>
    <add key="childTable" value="Accessory"/>
    <add key="relation" value="CharacterAccessory"/>
    <add key="pk" value="cid"/>
    <add key="fk" value="owner"/>
    <!-->
    <add key="parentTable" value="Organization"/>
    <add key="childTable" value="Character"/>
    <add key="relation" value="OrganizationCharacter"/>
    <add key="pk" value="oid"/>
    <add key="fk" value="oid"/>
    <-->
  </appSettings>
</configuration>